# Python - Ambientes Virtuais
/venv/
/.venv/
*/venv/
*.venv

# Python - Cache e Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Python - Arquivos de Build/Distribuição
build/
dist/
*.egg-info/
/htmlcov/
.coverage

# Arquivos de Ambiente (NÃO ENVIE SEGREDOS!)
.env
.env.*

# ---

# Dados, Modelos e Notebooks
# (Não envie dados brutos ou modelos treinados, que são grandes)
/data/
/models/
*.pkl
*.joblib
*.h5

# Checkpoints do Jupyter Notebook
.ipynb_checkpoints/

# ---

# Node.js (Para o Frontend/Deploy)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---

# Arquivos de SO e Editor
.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace